{erl_opts, [debug_info]}.
{deps, [
  {hackney, "1.19.1"},
  {jsx, "3.1.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [blockfrost_erlang]},
    {script_file, "./rebar.escript"}
]}.

{plugins, [
    rebar3_hex,
    { rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
]}.
