{erl_opts, [debug_info]}.
{deps, [
  {hackney, "1.19.1"},
  {jsx, "3.1.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [blockfrost_erlang]},
    {script_file, "./rebar.escript"}
]}.

{plugins, [
    rebar3_hex,
    { rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/blockfrost/blockfrost-erlang">>},
          {extras, [<<"README.md">>, <<"LICENSE">>]},
          {main, <<"readme">>}]}.
